body{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.login-container{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* This is for making a box*/
}

.login-form{
    text-align: center;
}

.login-input-type{
    input[type="text"],
    input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    width: 100%;                 /* Make it stretch full width */
    padding: 12px;               /* Add some padding */
    font-size: 16px;             /* Make text larger */
    border: none;                /* Remove borders */
    border-bottom: 2px solid #000; /* Add underline */
    outline: none;               /* Remove blue outline on focus */
    background-color: transparent; /* Optional: make background blend in */
    margin-bottom: 20px;}
 
}

.options {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
  }
  
  .options label {
    margin-right: 20px;
  }
  
button{
    width: 100%;
    padding: 0.75rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover{
    background: #000;
}

.login-form a{
    margin-left: 10px;
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.login-form a:hover{
    text-decoration: underline;
}